body {
    font-family: Arial, sans-serif;
    background-color: #1d3b32;
    /* Verde scuro */
    color: #f4c25b;
    /* Giallo oro */
    padding-top: 70px;
    /* Aggiungi margine superiore per evitare che la navbar copra il contenuto */
    overflow-x: hidden;
}


/* Navbar fissa */
.navbar-nav {
    margin-left: auto;
    padding-right: 20px;
}

.navbar-brand {
    font-size: 25px;
    margin-left: 10px;
}

.nav-link {
    color: black;
    padding-left: 30%;
    font-size: 15px;
}

.nav-link:hover {
    color: #f4c25b;
}

#foto {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.header-text {
    height: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    background-color: #3b4d47;
    border-radius: 5%;
    text-align: center;
}

.titolo {
    font-family: "Ballet", serif;
    font-size: 130px;
    font-weight: 300;
    color: antiquewhite;
    padding-top: 40px;
    padding-bottom: 25px;
}

#foto2 {
    border-radius: 10%;
    max-width: 100%;
    height: auto;
    max-height: fit-content;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 10px;
}

.biografia {
    background-color: #f4c15bf1;
    border-radius: 5%;
    padding-bottom: 10px;
    margin-bottom: 40px;
    display: flex;
    text-align: center;
    font-size: 20px;
}

.bio {
    align-content: center;
    color: #1d3b32;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

#autrice {
    color: #3b4d47;
    font-size: 20px;
}

.header-bio {
    background-color: #3b4d47;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 10px;
    width: 100%;
    border-radius: 5%;
    text-align: center;
}


.libri,
.eventi {
    background: #f4c25b;
    color: #1d3b32;
    padding: 20px 20px;
    text-align: center;
    border-radius: 3%;
    margin-top: 30px;
}

.libri img {
    width: 50%;
    height: 60px;
    border-radius: 10px;
}

.evento {
    background: #1d3b32;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    color: #f4c25b;
}

.text-center {
    margin-top: 20px;
}

h4 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h2, h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.titoli {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
}

.libriCarousel {
    overflow: hidden;
    /* Nasconde il continuo che esce fuori */
}

.carousel-item img {
    width: 60%;
    height: auto;
    border-radius: 10px;
    padding-left: 10px;
}

.carousel-item.active img {
    transform: scale(1.1);
}


.carousel-control-prev-icon {
    margin-left: -100px;
    background-color: #1d3b32;
    border-radius: 30%;
}

.carousel-control-next-icon {
    margin-right: -100px;
    background-color: #1d3b32;
    border-radius: 30%;
}

#accedi {
    color: #1d3b32;
    background-color: #f4c25b;
    border: #1d3b32;
    font-size: 20px;
}

.input-group {
    position: relative;
}

#pwdButton {
    position: absolute;
    right: 10px;  /* Sposta l'icona a destra */
    top: 50%;
    transform: translateY(-50%);  /* Centra l'icona verticalmente */
    border: none;  /* Rimuove il bordo del bottone */
    background: transparent;  /* Rende il bottone trasparente */
    cursor: pointer;
    z-index: 10;
}

#occhio {
    width: 20px;  /* Imposta la larghezza dell'icona */
    height: auto;

}



#badge {
    height: 38px;
    border: 1px solid #1d3b32;
    background-color: #41675a;
    color: #d8cfb9;
    align-content: center;
}

#home,
#aggiungibibl,
#logout,
#aggiungi,
#profilo,
#aggiungievento,
#modifica,
#memorizzaevento {
    color: #1d3b32;
    background-color: #d8cfb9;
    border: #1d3b32;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#home:hover,
#aggiungibibl:hover,
#aggiungi:hover,
#profilo:hover,
#aggiungievento:hover,
#logout:hover {
    background-color: #486345;
    color: #f4c25b;
}

#modificaevento,
#eliminaevento {
    background-color: #879f97;
    border: 1px solid #1d3b32;
}

#areaamm {
    text-align: center;
}

#tabellaelenco,
th,
td {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #759483;
    font-size: 15px;
    border: 2px solid #000000;
    color: #000000;
}

#barrascorr {
    overflow-x: visible;
}

th {
    background-color: #e6cb95;
    color: #000000;
    padding-left: 50px;
    padding-right: 50px;
}

#elimina {
    background-color: #ffffffd1;
    color: #000000;
    border: 1px solid #1d3b32;
    font-size: 14px;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

#elimina:hover {
    background-color: #f1d924;
}

/* Altre sezioni e stili restano invariati */
/* Navbar per schermi più piccoli */
@media (max-width: 768px) {
    .navbar-collapse {
        border-radius: 5%;
        /* Aggiungi arrotondamento per il menu a tendina */
    }
}

/* BIBLIOTECA */
.bibl-titolo {
    position: absolute;
    color: #f4c25b;
    width: 100%;
    top: 125px;
    text-shadow: 5px 5px #88591a;
    font-weight: bolder;
    font-size: 50px;
}

.bibl-immagine {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
}

#bibl-foto {
    width: 100%;
    height: 250px;
}

.bibl-base1 {
    margin-top: 25px;
    background-color: #3b4d47;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #f4c25b;
}

.img-biblioteca {
    width: 100%;
    height: auto;
    margin-left: 2px;
}

.container-fluid a {
    color: antiquewhite;
}

/* form non visibile*/
#aggiungiBibliotecaForm {
    /*  display: none; */
    display: none;
    border: 1px solid #cdc6c6;
    border-radius: 8px;
    background-color: #3d514b;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 20px;
}


.nascondi {
    display: none;}

/* form non visibile*/
#modificaprofilo {
    /*  display: none; */
    border: 1px solid #cdc6c6;
    border-radius: 8px;
    background-color: #3d514b;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 20px;
}

/* form non visibile*/
#aggiungieventi {
    /*  display: none; */
    border: 1px solid #cdc6c6;
    border-radius: 8px;
    background-color: #3d514b;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 15px;
    padding: 20px;
}

textarea {
    resize: none;
}

#aggiungi {
    background-color: #e6cb95;
    width: 200px;
    height: 50px;
    margin-top: 20px;
}

/* BIBLIOTECA DETTAGLIO */
#biblioteca {
    margin-top: 25px;
    align-items: center;
    text-shadow: 4px 4px #88591a;
    text-align: center;
    font-weight: bolder;
    color: #f4c25b;
}

.bibl-sito {
    margin-top: 30px;
    background-color: white;
}

.bibl {
    width: 40%;
}

.bibl-fronte {
    width: 100%;
    height: auto;
}

.bibl-informazioni {
    background-color: #3b4d47;
    width: 60%;
}

.bibl-informazioni p, li, a {
    font-size: 20px;
    color: #d8c5a1;
}

.bibl-informazioni h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #f4c25b;
    font-weight: bold;
}
/*CHI SIAMO*/
.jumbotron {
    background-color: #053809;
    border: 2px solid #1e3a11;
    padding: 2rem 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(107, 141, 22, 0.822);
}

.jumbotron h1 {
    color: #112c0a;
    font-weight: bold;
}

.jumbotron p.lead {
    color:#195323;
}

.jumbotron hr {
    border-top: 1px solid #195323;
}

.card {
    border: 1px solid #020101;
    border-radius: 10px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #275209fd;
    box-shadow: 0 0 10px  rgba(107, 141, 22, 0.822);
}

.card-body {
    background-color: #ffda62f3;
}

.card-text {
    color: #112c0a;
}

.container h2 {
    color: #ffda62f3;
    margin-top: 20px;
    font-style: italic;
}

.jumbotron{
    background-color: #ffda62f3;
}

.text{
    color: #112c0a ;
}

#elimina:hover {
    background-color: #f1d924;
}

/* EVENTI */

.container-eventi {
    width: 100%;
    height: auto;
}

#ev-page {
    text-align: center;
    margin-top: 100px;
    font-weight: 40px;
    color: #f4c25b;
}

.toast-container {
    padding: 30px;
    margin: auto;
    width: 95%;
    height: auto;
    background-color: #3b4d47;

}

.t-evento {
    width: 700px;
    height: auto;
    margin: auto;
}

.ev-titolo {
    font-size: 20px;
    color: #fcd33c;
}

.messaggio {
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.mini-evento {
    width: 50px;
    height: auto;}


.header2 {
    height: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
}

.navbar-brand1 {
    color: #000000;
    font-size: 25px;
    margin-left: 10px;
}

.card-title {
    color: #1d3b32;
    background-color: #ecd135;
}

.navbar-brand1:hover {
    color: black;
    /* Mantiene il colore originale */
    text-decoration: none;
    /* Rimuove la sottolineatura se presente */
}

.btn {
    color: #e5cd13;
}

.btn:hover {
    color: rgba(107, 141, 22, 0.822);
}

.btn-4:hover {
    color: #195323;

}

/* CSS */
.titolocollabora {
    background-image: url('lavoraconnoi2.jpg');
    background-size: cover;
    /* Assicura che l'immagine copra tutto lo sfondo */
    background-position: center;
    /* Centra l'immagine nello sfondo */
    padding: 60px;
    /* Aggiunge spazio attorno al contenuto */
    color: rgba(221, 183, 15, 0.952);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     font-size: 130px;
}

/* libri.html */
#testa {
    background-color: #394e48;
    border-radius: 3%;
    padding: 10px;
}

#podio {
    background-color: #394e48;;
    border-radius: 3%;
    display: flex;
    align-items: flex-end;
}

.frasi {
    height: 400px;
    padding: 8px;
    height: fit-content;
}

#frase1,
#frase3 {
    text-align: left;
}

#frase2,
#frase4 {
    text-align: right;
}

#macchinadascr {
    color:  #f4c25b;
    margin: 5px;
}

.card-titolo,
.card-testo {
    color: #f4c25b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.card-container {
    justify-content: space-around;
    gap: 5px;
}

.libreria {
    width: 330px;
    height: 760px;
    margin-top: 30px;
    background-color: #316452;
    margin-right: auto;
    margin-left: auto;
    gap: 10px;
}

.podio-card1 {
    width: 200px;
    height: 360px;
    background-color: #f1c24d;
    color: #745d2f;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.podio-card2 {
    width: 200px;
    height: 320px;
    background-color: #649284;
    color: #263b24;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.podio-card3 {
    width: 200px;
    height: 300px;
    background-color: #ce4949;
    color: #401414;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.imglibri{
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
}


#imgroger{
    margin-top: 14px;
    width: auto;
    height: 180px;
    margin-left: 55px;
}


#imgmiss{
    margin-top: 14px;
    width: auto;
    height: 180px;
    margin-left: 90px;
}

.foto-top {
    width: 200px;
    height: auto;
    margin-left: 60px;
}

#img1 {
    padding-top: 10px;
}

#img2 {
    width: 130px;
    height: auto;
    margin-top: 0px;
}

#img3 {
    width: 130px;
    height: auto;
    margin-top: -0px;
}

#unisciti {
    font-size: 100px;
    color: red;
}