<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agatha Christie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEJr+5pLk63bHf3rV0eJ6M9cRz4eH9k5Qg5q9tt9Q0wjj2STzj3U2Q+E8L9f3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link type="text/css" th:href="@{/css/stile1.css}" href="../static/css/stile1.css"
          rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</head>
<body>
<!-- Menu Fisso in alto -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" th:href="@{/}">Agatha Christie Club</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/chisiamo}">Chi siamo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/autrice}">Autrice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/eventi}">Prossimi Eventi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/biblioteche}">Biblioteche aderenti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/libri}">Libri più amati</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lavoraconnoi}">Collabora con noi</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <header class="header">
        <div class="header-text header2">
            <h1 class="agathaautrice"> Agatha Christie</h1>
            <p  class="lead1">La Regina del Giallo</p>
        </div>

    </header>

    <hr>
<div class="container mt-5">
    <h2 class="text-center">Biografia</h2>
    <p class="lead">
        Agatha Christie (1890-1976) è stata una scrittrice britannica, famosa per i suoi romanzi gialli e le sue opere teatrali. È conosciuta come la "Regina del Crimine" grazie alla sua straordinaria abilità nel creare trame intricate e personaggi memorabili. Tra le sue opere più note ci sono i romanzi con i celebri detective Hercule Poirot e Miss Marple.
    </p>

    <h2 class="text-center">Curiosità</h2>
    <ul class="lead">
        <li>Agatha Christie ha scritto oltre 80 romanzi e opere teatrali.</li>
        <li>È una degli autori più venduti di tutti i tempi, con più di 2 miliardi di copie vendute.</li>
        <li>Il suo romanzo "Dieci Piccoli Indiani" (anche conosciuto come "E Non Rimase Nessuno") è uno dei libri più venduti al mondo.</li>
        <li>È stata insignita del titolo di "Dame" dalla regina Elisabetta II nel 1971.</li>
    </ul>


    <section class="libri mt-5">
        <h2 id="libriautrice">I Libri più famosi</h2>

        <!-- Carousel dei libri -->
        <div id="libriCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- Raggruppa i libri in gruppi di 4 -->
                <div th:each="group, loop : ${#numbers.sequence(0, libri.size() - 1, 4)}"
                     class="carousel-item"
                     th:classappend="${loop.first} ? ' active'">
                    <div class="row">
                        <div th:each="i : ${#numbers.sequence(group, group + 3)}" th:if="${i < libri.size()}" class="col-xl-3 col-md-6">
                            <img th:src="@{${libri[i].copertina}}" alt="Libri immagine" class="img-fluid">
                            <p class="titoli" th:text="${libri[i].titolo}"></p>
                            <p th:text="${libri[i].anno}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Controlli per scorrere il carosello -->
            <button class="carousel-control-prev" type="button" data-bs-target="#libriCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Precedente</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#libriCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Successivo</span>
            </button>
        </div>

    </section>
</div>

<div class="container-fluid">
    <footer class="footer">
        <div class="row">
            <div class="col-12 col-md-3 np-scatola">
                <h5 class="np-info1">Associazione Agatha Christie</h5>
                <ul class="np-parti">
                    <li class="spazio"><a th:href="@{/chisiamo}" class="nav-link-np">Chi Siamo</a></li>
                    <li class="spazio"><a href="#" class="nav-link-np">Privacy Policy</a></li>
                    <li class="spazio"><a href="#" class="nav-link-np">Cookie Policy</a></li>
                    <li class="spazio"><a href="#" class="nav-link-np">FAQs</a></li>
                    <li class="spazio"><a href="#" class="nav-link-np">Credits</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-1 d-none d-md-block">
                <div class="vertical-line"></div>
            </div>

            <div class="col-12 col-md-4 np-scatola">
                <h5 class="np-info">Iscriviti alla nostra newsletter</h5>
                <p class="np-scheda">Ti terremo aggiornato sulle nostre entusiasmanti novità!</p>
                <input type="text" class="form-control np-email" placeholder="Indirizzo Email">
                <label>
                    <input type="checkbox" id="privacyCheckbox" required>
                    <a class="nav-link-np" href="privacy-policy.html" target="_blank">Accetto l'informativa sulla privacy</a>.
                </label> <br>
                <button class="btn btn-primary np-iscri mt-2">Iscriviti</button>
            </div>

            <div class="col-12 col-md-1 d-none d-md-block">
                <div class="vertical-line"></div>
            </div>

            <div class="col-12 col-md-3 social">
                <h5 class="np-info">I nostri contatti</h5>
                <ul class="np-togli row">
                    <li class="lista-np">Email:<div class="np-scheda">Sociazione.AgathaC@gmail.it</div></li>
                    <li class="lista-np">Telefono:<div class="np-scheda">+39 08 741 0043</div></li>
                    <li class="lista-np">Indirizzo:<div class="np-scheda">Via S. Giovanni 19</div></li>
                    <li class="lista-np">Social:<div class="np-scheda">@Agatha_Society</div></li>
                </ul>
            </div>
        </div>
    </footer>
    <p class="np-scheda1 text-center mt-4">© 2025 Associazione Agatha Christie. Tutti i diritti riservati.</p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
