<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dettaglio Biblioteca</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link type="text/css" th:href="@{/css/stile1.css}" href="../static/css/stile1.css"
          rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

        <a class="navbar-brand" th:href="@{/}">Agatha Christie Club</a>
        <!-- quando lo schermo è piccolo, appaiono le 3 linee -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- il menu intero -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/chisiamo}">Chi siamo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/autrice}">Autrice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/eventi}">Prossimo Eventi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/biblioteche}">Biblioteche aderenti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/libri}">Libri più amati</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lavoraconnoi}">Collabora con noi</a>
                </li>
            </ul>
        </div>
    </nav>

    <header class="header">
        <div>
            <img src="img/bibliotecaFirenze.jpg" class="img-fluid bibl-fronte" alt="Biblioteca Nazionale Centrale di Firenze">
            <h1 id="biblioteca">BIBLIOTECA NAZIONALE CENTRALE DI FIRENZE</h1>
        </div>
    </header>

    <div class="container-fluid">
        <div class="bibl-sito row align-items-center">
            <div class="bibl col-md-12 col-lg-6">
                <img src="img/bncfFirenze-logo.png" class="img-biblioteca img-fluid" alt="Biblioteca Nazionale Centrale di Firenze">
            </div>
            <div class="bibl-informazioni col-lg-6 col-md-12">
                <h4 class="bibl-info">Info:</h4>
                <p class="bibl-dati">La Biblioteca Nazionale Centrale di Firenze è una biblioteca pubblica, afferente al MIC, che raccoglie, conserva e documenta la memoria storica della Nazione.</p>
                <div id="bibl-orario">
                    <h4 class="bibl-info">Apertura della biblioteca</h4>
                    <ul>
                        <li class="bibl-dati">Dal lunedì al venerdì 8.15 – 19.00 </li>
                        <li class="bibl-dati">Sabato 8.15 – 13.30 </li>
                    </ul>
                </div>
                <div id="bibl-contatti">
                    <h4 class="bibl-info">Telefono:</h4>
                    <p class="bibl-dati">05524919201</p>
                    <h4 class="bibl-info">Indirizzo email:</h4>
                    <p class="bibl-dati">bnc-fi@pec.cultura.gov.it</p>
                </div>
                <div id="bibl-map-sito">
                    <h4 class="bibl-info">Sito ufficiale:</h4>
                    <a href="#" class="bibl-dati">bncf.cultura.gov.it</a>
                    <h4 class="bibl-info">Ci trovi in: </h4>
                    <p class="bibl-dati">Piazza dei Cavalleggeri, 1 - 50122 Firenze </p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>