<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dettaglio Biblioteca</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link type="text/css" th:href="@{/css/stile1.css}" href="../static/css/stile1.css"
          rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

        <a class="navbar-brand" th:href="@{/}">Agatha Christie Club</a>
        <!-- quando lo schermo è piccolo, appaiono le 3 linee -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- il menu intero -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/chisiamo}">Chi siamo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/autrice}">Autrice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/eventi}">Prossimi Eventi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/biblioteche}">Biblioteche aderenti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/libri}">Libri più amati</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lavoraconnoi}">Collabora con noi</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid p-0">
        <div class="banner" style="height: 250px; width: 100%; overflow: hidden;">
            <img th:src="${biblioteca.foto}" alt="Banner" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
    </div>

    <div class="container-fluid">
        <div class="bibl-sito row align-items-center">
            <div class="bibl col-md-12 col-lg-6">
                <img th:src="${biblioteca.logo}" class="img-biblioteca img-fluid" th:alt="${biblioteca.nome}">
            </div>
            <div class="bibl-informazioni col-lg-6 col-md-12">
                <h4 class="bibl-info">Info:</h4>
                <p th:text="${biblioteca.descrizione}" class="bibl-dati"></p>
                <div id="bibl-orario">
                    <h4 class="bibl-info">Apertura della biblioteca</h4>
                    <p th:text="${biblioteca.orarioApertura}" class="bibl-dati">
                    </p>
                </div>
                <div id="bibl-contatti">
                    <h4 class="bibl-info">Telefono:</h4>
                    <p th:text="${biblioteca.telefono}" class="bibl-dati"></p>
                    <h4 class="bibl-info">Indirizzo email:</h4>
                    <p th:text="${biblioteca.email}" class="bibl-dati"></p>
                </div>
                <div id="bibl-map-sito">
                    <h4 class="bibl-info">Sito ufficiale:</h4>
                    <p th:text="${biblioteca.sito}" class="bibl-dati"></p>
                    <h4 class="bibl-info">Ci trovi in: </h4>
                    <p th:text="|${biblioteca.indirizzo} ${biblioteca.comune}|" class="bibl-dati"></p>
                    <!-- Inserisci la mappa dinamicamente con iframe -->
                    <div class="row justify-content-center">
                        <div class="col-md-5">
                            <iframe width="400" height="320" style="border:0;"
                                    th:src="'https://www.google.com/maps/embed?pb=' + ${biblioteca.maps}"
                                    allowfullscreen=""  referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <footer class="footer">
            <div class="row">
                <div class="col-12 col-md-3 np-scatola">
                    <h5 class="np-info1">Associazione Agatha Christie</h5>
                    <ul class="np-parti">
                        <li class="spazio"><a th:href="@{/chisiamo}" class="nav-link-np">Chi Siamo</a></li>
                        <li class="spazio"><a href="#" class="nav-link-np">Privacy Policy</a></li>
                        <li class="spazio"><a href="#" class="nav-link-np">Cookie Policy</a></li>
                        <li class="spazio"><a href="#" class="nav-link-np">FAQs</a></li>
                        <li class="spazio"><a href="#" class="nav-link-np">Credits</a></li>
                    </ul>
                </div>

                <div class="col-12 col-md-1 d-none d-md-block">
                    <div class="vertical-line"></div>
                </div>

                <div class="col-12 col-md-4 np-scatola">
                    <h5 class="np-info">Iscriviti alla nostra newsletter</h5>
                    <p class="np-scheda">Ti terremo aggiornato sulle nostre entusiasmanti novità!</p>
                    <input type="text" class="form-control np-email" placeholder="Indirizzo Email">
                    <label>
                        <input type="checkbox" id="privacyCheckbox" required>
                        <a class="nav-link-np" href="privacy-policy.html" target="_blank">Accetto l'informativa sulla privacy</a>.
                    </label> <br>
                    <button class="btn btn-primary np-iscri mt-2">Iscriviti</button>
                </div>

                <div class="col-12 col-md-1 d-none d-md-block">
                    <div class="vertical-line"></div>
                </div>

                <div class="col-12 col-md-3 social">
                    <h5 class="np-info">I nostri contatti</h5>
                    <ul class="np-togli row">
                        <li class="lista-np">Email:<div class="np-scheda">Sociazione.AgathaC@gmail.it</div></li>
                        <li class="lista-np">Telefono:<div class="np-scheda">+39 08 741 0043</div></li>
                        <li class="lista-np">Indirizzo:<div class="np-scheda">Via S. Giovanni 19</div></li>
                        <li class="lista-np">Social:<div class="np-scheda">@Agatha_Society</div></li>
                    </ul>
                </div>
            </div>
        </footer>
        <p class="np-scheda1 text-center mt-4">© 2025 Associazione Agatha Christie. Tutti i diritti riservati.</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>