<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Admin</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link type="text/css" th:href="@{/css/stile1.css}" href="../static/css/stile1.css"
          rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</head>

<!-- Menu Fisso in alto -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

    <a class="navbar-brand" th:href="@{/}">Agatha Christie Club</a>
    <!-- quando lo schermo è piccolo, appaiono le 3 linee -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- il menu intero -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/chisiamo}">Chi siamo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/autrice}">Autrice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/eventi}">Prossimi Eventi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/biblioteche}">Biblioteche aderenti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/libri}">Libri più amati</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lavoraconnoi}">Collabora con noi</a>
            </li>
        </ul>
    </div>
</nav>


<body class="barrascorr">
<h2 id="areaamm">*** Area Amministrativa ***</h2>
<!-- Barra menu in alto -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a id="logout" class="btn btn-primary" th:href="@{/gestione-admin/logout}">
            🚪 Logout
        </a>
        <button id="aggiungibibl" class="btn btn-primary" >
            <!--form per info che creano account curatore-->
            🏫 Aggiungi Biblioteca
        </button>
    </div>
</nav>
<hr>

<div class="container-fluid">
    <h2>Elenco Biblioteche</h2>
    <table class=".bg-success" id="tabellaelenco">
        <thead>
        <tr>
            <th>Nome della Biblioteca</th>
            <th>Comune</th>
            <th>Username</th>
            <th>Password</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="biblioteca : ${biblioteche}">
            <td th:text="${biblioteca.nome}"></td>
            <td th:text="${biblioteca.comune}"></td>
            <td th:text="${biblioteca.credenziale.username}"></td>
            <td th:text="${#strings.length(biblioteca.credenziale.password) != 0 ? #strings.repeat('*', #strings.length(biblioteca.credenziale.password)) : ''}"></td>
            <td>
                <button id="elimina" class="btn btn-primary elimina" th:value="|${biblioteca.nome}@${biblioteca.id}|">Elimina</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<hr>

<!-- Form new Biblioteca -->
<div id="aggiungiBibliotecaForm" th:classappend="${session.formError} ? '' : 'nascondi'">
    <h3>Aggiungi una Nuova Biblioteca</h3>
    <hr>
    <form th:object="${biblioteca}" method="post">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome della Biblioteca</label>
            <input type="text" class="form-control" id="nome" th:field="*{nome}" required>
        </div>
        <div class="mb-3">
            <label for="comune" class="form-label">Comune</label>
            <input type="text" class="form-control" id="comune" th:field="*{comune}" required>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" th:field="*{credenziale.username}" required>
            <p th:if="${#fields.hasErrors('credenziale.username')}" th:errors="*{credenziale.username}"></p>
        </div>
        <label for="pwd" class="form-label">Password</label>
        <div class="mb-3 input-group">
            <input type="password" class="form-control" id="pwd" th:field="*{credenziale.password}" required>
            <button type="button" id="pwdButton" class="btn btn-outline-secondary">
                <img id="occhio" src="img/occhio.png" alt="Mostra/Nascondi" width="20px">
            </button>
        </div>
        <p th:if="${#fields.hasErrors('credenziale.password')}" th:errors="*{credenziale.password}"></p>
        <hr>
        <button type="submit" class="btn btn-primary" id="aggiungi">Aggiungi Biblioteca</button>
    </form>
</div>


    <div class="container-fluid">
        <footer class="footer">
            <div class="row">
                <div class="col-12 col-md-3 np-scatola">
                    <h5 class="np-info1">Associazione Agatha Christie</h5>
                    <ul class="np-parti">
                        <li class="spazio"><a th:href="@{/chisiamo}" class="nav-link-np">Chi Siamo</a></li>
                        <li class="spazio"><a href="#" class="nav-link-np">Privacy Policy</a></li>
                        <li class="spazio"><a href="#" class="nav-link-np">Cookie Policy</a></li>
                        <li class="spazio"><a href="#" class="nav-link-np">FAQs</a></li>
                        <li class="spazio"><a href="#" class="nav-link-np">Credits</a></li>
                    </ul>
                </div>

                <div class="col-12 col-md-1 d-none d-md-block">
                    <div class="vertical-line"></div>
                </div>

                <div class="col-12 col-md-4 np-scatola">
                    <h5 class="np-info">Iscriviti alla nostra newsletter</h5>
                    <p class="np-scheda">Ti terremo aggiornato sulle nostre entusiasmanti novità!</p>
                    <input type="text" class="form-control np-email" placeholder="Indirizzo Email">
                    <label>
                        <input type="checkbox" id="privacyCheckbox" required>
                        <a class="nav-link-np" href="privacy-policy.html" target="_blank">Accetto l'informativa sulla privacy</a>.
                    </label> <br>
                    <button class="btn btn-primary np-iscri mt-2">Iscriviti</button>
                </div>

                <div class="col-12 col-md-1 d-none d-md-block">
                    <div class="vertical-line"></div>
                </div>

                <div class="col-12 col-md-3 social">
                    <h5 class="np-info">I nostri contatti</h5>
                    <ul class="np-togli row">
                        <li class="lista-np">Email:<div class="np-scheda">Sociazione.AgathaC@gmail.it</div></li>
                        <li class="lista-np">Telefono:<div class="np-scheda">+39 08 741 0043</div></li>
                        <li class="lista-np">Indirizzo:<div class="np-scheda">Via S. Giovanni 19</div></li>
                        <li class="lista-np">Social:<div class="np-scheda">@Agatha_Society</div></li>
                    </ul>
                </div>
            </div>
        </footer>
        <p class="np-scheda1 text-center mt-4">© 2025 Associazione Agatha Christie. Tutti i diritti riservati.</p>
    </div>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("aggiungiBibliotecaForm");
        // Thymeleaf sostituirà la variabile con true o false
        const hasError = [[${session.formError} ?: false]];

        // Imposta la visibilità in base alla presenza di errori
        form.style.display = hasError ? "block" : "none";

        // Aggiungi il listener solo se non ci sono errori,
        // così da non permettere la chiusura accidentale del form quando ci sono errori
        document.getElementById("aggiungibibl").addEventListener("click", function () {
            if (!hasError) {
                form.style.display = (form.style.display === "none" || form.style.display === "") ? "block" : "none";
            }
        });
    });


    document.getElementById("pwdButton").addEventListener("click", function() {
    var pwd = document.getElementById("pwd");
    if (pwd.type === "password") {
        pwd.type = "text";
    } else {
        pwd.type = "password";
    }
});

     document.querySelectorAll(".elimina").forEach(function(button) {
            button.addEventListener("click", function() {
                const valoriRicevuti = this.getAttribute("value");
                const datiRicevuti = valoriRicevuti.split("@");
                const conferma = confirm("Sei sicuro di voler cancellare la biblioteca " + datiRicevuti[0] + "?");
            if(conferma)
                window.location.href = "/gestione-admin/elimina?id=" + datiRicevuti[1];
            });
        })
</script>


</body>

</html>