<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Area curatore</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link type="text/css" th:href="@{/css/stile1.css}" href="../static/css/stile1.css"
        rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>
</head>

<!-- Menu Fisso in alto -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

  <a class="navbar-brand" th:href="@{/}">Agatha Christie Club</a>
  <!-- quando lo schermo è piccolo, appaiono le 3 linee -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- il menu intero -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/login}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/chisiamo}">Chi siamo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/autrice}">Autrice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/eventi}">Prossimo Eventi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/biblioteche}">Biblioteche aderenti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/libri}">Libri più amati</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/lavoraconnoi}">Collabora con noi</a>
      </li>
    </ul>
  </div>
</nav>


<body>
<h1 th:text="|*** Area Amministrativa ${biblioteca.nome} ***"></h1>
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark">

    <button id="aggiungievento" class="btn btn-primary">
      🗓️ Aggiungi Evento
    </button>
    <button id="profilo" class="btn btn-primary" th:href="@{/profilocuratore}">
      👤 Profilo Personale
    </button>
  </nav>
  <hr>
  <h2>Eventi in programma</h2>
  <div class="container mt-4" id="eventibibl">
    <ul class="list-group">
      <li th:each="evento : ${eventi}" th:text="|Lettura di ${evento.libro.titolo}|" class="list-group-item d-flex justify-content-between align-items-center">
        <span class="badge" id="badge" th:text="${#temporals.format(evento.dataOra, 'dd/MM/yyyy HH:mm')}"></span>
        <a class="btn btn-primary" id="modificaevento" th:href="@{/gestione-biblioteca/modifica(id=${evento.id})}">Modifica</a>
        <a class="btn btn-primary" id="eliminaevento" th:href="@{/gestione-biblioteca/elimina(id=${evento.id})}">Elimina</a>
      </li>
    </ul>

  </div>
  <hr>
  <!--form per aggiungere un nuovo evento in programma-->
  <div id="aggiungieventi">
    <h3>Aggiungi un nuovo Evento in Programma</h3>
    <hr>
    <form action="submit_biblioteche.associazione_ac" method="post">
      <div class="mb-3">
        <label for="evento" class="form-label">Nome dell'Evento</label>
        <input type="text" class="form-control" id="evento" name="nome_evento" required>
      </div>
      <div class="mb-3">
        <label for="libro" class="form-label">Libro trattato</label>
        <input type="number" class="form-control" id="libro" name="libro" required>
      </div>
      <div class="mb-3">
        <label for="data_ora" class="form-label">Data e Ora</label>
        <input type="datetime" class="form-control" id="data_ora" name="data_ora" required>
      </div>
      <div class="mb-3">
        <label for="durata" class="form-label">Durata</label>
        <input type="text" class="form-control" id="durata" name="durata" required>
      </div>
      <div class="mb-3">
        <label for="descrizione" class="form-label">Descrizione</label>
        <textarea class="form-control" id="descrizione" name="descrizione" rows="4"></textarea>
      </div>
      <div class="mb-3">
        <label for="link_diretta" class="form-label">Link Diretta Online</label>
        <input type="url" class="form-control" id="link_diretta" name="link_diretta">
      </div>
      <hr>
      <button type="submit" class="btn btn-primary" id="memorizzaevento">Aggiungi Evento</button>
    </form>
  </div>

</div>
</body>

</html>