<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I Libri Più Amati di Agatha Christie</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--    <link th:href="stile1.css" rel="stylesheet">-->
    <link type="text/css" th:href="@{/css/stile1.css}" href="../static/css/stile1.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

</head>

<body>

<!-- Menu Fisso in alto -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

    <a class="navbar-brand" th:href="@{/}">Agatha Christie Club</a>
    <!-- quando lo schermo è piccolo, appaiono le 3 linee -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- il menu intero -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/chisiamo}">Chi siamo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/autrice}">Autrice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/eventi}">Prossimi Eventi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/biblioteche}">Biblioteche aderenti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/libri}">Libri più amati</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lavoraconnoi}">Collabora con noi</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <header class="header">
        <div class="header-text header3">
            <h1 id="libriamati">I Libri Più Amati di Agatha Christie</h1>
        </div>
    </header>
    <p id="libri-title1">Scopri i libri più celebri dell'autrice di gialli più amata al mondo.</p>
    <hr>
    <div class="row" id="testa">
        <div class="fotolibri col-lg-6 col-md-12 col-sm-12">
            <img src="img/macchinadascrivere.jpg" alt="Agatha Christie" class="img-fluid col-md-12" />
            <p id="macchinadascr"> "Ogni volta che scrivo, mi piace pensare che sto creando una finestra su un altro
                mondo. Un mondo che, speriamo, sia tanto affascinante quanto misterioso." – Agatha Christie</p>
            <hr>
        </div>
        </nav>

            <div class="frasi col-lg-6 col-md-12 col-sm-12">
                <p id="frase1">"La vita ha spesso una trama pessima. Preferisco di gran lunga i miei romanzi." </p>
                <hr>
                <p id="frase2">"Un indizio è un indizio, due indizi sono una coincidenza, ma tre indizi fanno una
                    prova." </p>
                <hr>
                <p id="frase3">"L'alibi è la faccenda più dubbia della terra. Tutti i delinquenti posseggono un
                    alibi."
                </p>
                <hr>
                <p id="frase4">"E' bene sospettare di tutti, finchè non si riesce a dimostrare che sono
                    innocenti."<br>
                    -Hercule Poirot
                </p>
            </div>

    </div>
    <hr>
    <!-- Card podio -->
    <div class="row" id="podio">
        <div class="col-md-4">
            <div class="card podio-card2">
                <h3 class="card-title1">2° Posto</h3>
                <img src="img/treno.png" class="imgpodio" id="img2">
                <p class="frasepodio">Un altro capolavoro di Agatha Christie.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card podio-card1">
                <h3 class="card-title1">1° Posto</h3>
                <img src="img/assassinio.png" class="imgpodio" id="img1">
                <p class="frasepodio">Il libro più amato di Agatha Christie.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card podio-card3">
                <h3 class="card-title1">3° Posto</h3>
                <img src="img/indiani.png" class="imgpodio" id="img3">
                <p class="frasepodio">Il terzo più popolare tra i suoi romanzi.</p>
            </div>
        </div>
    </div>
    <hr>

    <!-- Introduzione -->
    <div class="intro-text">
        <p class="introt">Agatha Christie è conosciuta per i suoi gialli intricatissimi e i personaggi iconici come
            Hercule Poirot
            e Miss Marple. I suoi libri sono tradotti in più di 100 lingue, e alcuni di essi hanno venduto oltre 100
            milioni di copie. Qui esploreremo i suoi libri più amati, dai classici alle opere più moderne.</p>
    </div>

    <!-- Card libri -->
    <div class="row container-libreria">
        <!-- Libro 1 -->
        <div class="col-lg-3 col-md-4 col-sm-6" th:each="libro : ${libri}">
            <div class="card segnalibri">

                <div class="card-libreria">

                    <h5 class="libreria-titolo" th:text="${libro.titolo}"><strong></strong></h5>
                    <img id="imglibreria" th:src="${libro.copertinaDettaglio}" alt="Copertine Libri">
                    <p class="libreria-testo" th:text="${libro.anno}"></p>
                    <p class="libreria-testo" th:text="${libro.editore}"></p>
                    <p class="libreria-testo" th:text="${libro.trama}"></p>
                    <p class="libreria-testo" th:text="|Ciclo narrativo: ${libro.ciclo.nome}|"></p>
                </div>
            </div>
        </div>
        <hr>

        <div class="container-fluid">
            <footer class="footer">
                <div class="row">
                    <div class="col-12 col-md-3 np-scatola">
                        <h5 class="np-info1">Associazione Agatha Christie</h5>
                        <ul class="np-parti">
                            <li class="spazio"><a th:href="@{/chisiamo}" class="nav-link-np">Chi Siamo</a></li>
                            <li class="spazio"><a href="#" class="nav-link-np">Privacy Policy</a></li>
                            <li class="spazio"><a href="#" class="nav-link-np">Cookie Policy</a></li>
                            <li class="spazio"><a href="#" class="nav-link-np">FAQs</a></li>
                            <li class="spazio"><a href="#" class="nav-link-np">Credits</a></li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-1 d-none d-md-block">
                        <div class="vertical-line"></div>
                    </div>

                    <div class="col-12 col-md-4 np-scatola">
                        <h5 class="np-info">Iscriviti alla nostra newsletter</h5>
                        <p class="np-scheda">Ti terremo aggiornato sulle nostre entusiasmanti novità!</p>
                        <input type="text" class="form-control np-email" placeholder="Indirizzo Email">
                        <label>
                            <input type="checkbox" id="privacyCheckbox" required>
                            <a class="nav-link-np" href="privacy-policy.html" target="_blank">Accetto l'informativa
                                sulla privacy</a>.
                        </label> <br>
                        <button class="btn btn-primary np-iscri mt-2">Iscriviti</button>
                    </div>

                    <div class="col-12 col-md-1 d-none d-md-block">
                        <div class="vertical-line"></div>
                    </div>

                    <div class="col-12 col-md-3 social">
                        <h5 class="np-info">I nostri contatti</h5>
                        <ul class="np-togli row">
                            <li class="lista-np">Email:<div class="np-scheda">Sociazione.AgathaC@gmail.it</div>
                            </li>
                            <li class="lista-np">Telefono:<div class="np-scheda">+39 08 741 0043</div>
                            </li>
                            <li class="lista-np">Indirizzo:<div class="np-scheda">Via S. Giovanni 19</div>
                            </li>
                            <li class="lista-np">Social:<div class="np-scheda">@Agatha_Society</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
            <p class="np-scheda1 text-center mt-4">© 2025 Associazione Agatha Christie. Tutti i diritti riservati.
            </p>
        </div>
    </div>
</div>
</body>

</html>